@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive !important;
  font-weight: 300 !important;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive !important;
  font-weight: 400 !important;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive !important;
  font-weight: 700 !important;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive !important;
  font-weight: 300 !important;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive !important;
  font-weight: 400 !important;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive !important;
  font-weight: 700 !important;
  font-style: italic;
}
